
@import"./header";
@import"./main";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Kodchasan:wght@400;700&family=Philosopher:wght@400;700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kodchasan;
}
